.user-image {
    height: 200px;
    width: 200px;
}
    
.create-user-form {
    background-color: #ededed;
    padding: 5px;
    margin-top: 5px;
    overflow: auto;

}

.del-btn {
    float: right;
}